*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #A62C21;
    height: 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    height: 400px;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}